.container_topo{
    display: flex;
    text-align: center;
    justify-content:flex-end;
    padding:10px;
    
max-width: 1024px;
background-color:#fff;
width:100%;
   

}
.container_topo a{
    margin-right: 15px;
    text-decoration:none;
    gap:20px;
    color:#000000

}
.container_topo img{
    width: auto;
    height: 30px;
    margin-right: 400px;
}